<%= render :partial => 'admin/shared/product_sub_menu' %>

<% @taxons.each do |taxon| %>
  <h2><%= taxon.name %></h2>
  
  <%= render :partial=> 'product_list', :locals => {:taxon => taxon} %>
  
<% end %>
